* {
    line-height: 1.5;
    font-size: 36px;
    font-family: "Shadows Into Light", monospace, Verdana, sans-serif;
    box-sizing: border-box;
    border: red solid;
}

a:visited {
    color: black;
}

.main-header {
    font-family: "Amatic SC", monospace, Verdana, sans-serif;
    text-align: center;
    font-size: 60px;
}

.recipe-links {
    color: black;
}

.body {
    background-color: white;
}

.recipe-container {
display: flex;
gap: 20px;
justify-content: center;
}

.recipe-container > a > div {
    text-align: center;
}

.recipe-holder {
    display: flex;
    flex-direction: column;
}

.recipe-link div:hover {
    background: white;
    color: black;
}

img:hover,
a:hover {
    background-color: white;
}

.recipe-link img,
.recipe-link {
    max-width: 350px;
}