* {
    line-height: 1.5;
}

.main-header {
    font-family: monospace, Verdana, sans-serif;
    text-align: left;
}

.recipe-links {
    color: black;
}

.body {
    background-color: white;
    font-family: monospace, Verdana, sans-serif;
}