* {
    line-height: 1.5;
}

.main-header {
    color: white;
    font-family: monospace, Verdana, sans-serif;
    text-align: center;
}

.recipe-links {
    color: white;
}

.body {
    background-color: rgb(255, 0, 0);
    text-align: center;
}